html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
  overflow-y: auto !important;
}
html.pum-open.pum-open-overlay.pum-open-scrollable body > [aria-hidden] {
  padding: 0 !important;
}
/*  ===============
  1. Reset
===============  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
input,
button,
textarea,
select {
  font-family: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-ms-expand {
  display: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
html {
  font-family: var(--global--font-primary);
  font-size: 16px !important;
  font-weight: $fw-400;
  overflow: auto !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  background-color: var(--global--color-white) !important;
  color: var(--global--color-black);
  font-family: var(--global--font-primary);
  @include fontSize(16px);
  font-weight: $fw-400;
  line-height: 1.4;
  margin-top: 0 !important;
  padding-right: 0 !important;
  scroll-behavior: smooth;
  text-align: left;
  text-rendering: optimizeSpeed;
  @include min(768) {
    @include fontSize(15px);
  }
  @include min(1200) {
    @include fontSize(14px);
  }
  @include min(1600) {
    @include fontSize(16px);
  }
  @include min(1850) {
    @include fontSize(18px);
  }
  p,
  li,
  .form-elements,
  select,
  textarea,
  label {
    font-size: inherit;
  }
  @include placeholder {
    font-size: inherit;
  }
}
li {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.6;
}
p {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  text-align: inherit;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  a {
    color: inherit;
    display: inline;
    text-decoration: underline !important;
    &:hover {
      color: var(--global--color-primary);
      text-decoration: none !important;
    }
  }
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin: 0;
    margin-top: 20px;
  }
}
blockquote {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 20px;
  }
}
ul,
ol {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    margin-top: 20px;
  }
}
address {
  font-style: normal;
}
.clearfix {
  @include clearfix;
}
svg {
  @include transition(all, ease, 0.4s);
  :focus {
    appearance: none;
    -moz-appearance: none;
    outline: none;
  }
}
// a, button, submit and reset default styles
a,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  text-shadow: none;
  -webkit-text-shadow: none;
  @include transition(all, ease, 0.4s);
  &:focus,
  &:hover {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    text-decoration: none;
  }
}
button {
  border: 0;
}
a {
  border: none;
  color: inherit;
  display: inline-block;
}
a[href^="tel"] {
  color: inherit;
  cursor: default;
  text-decoration: none !important;
  &:hover,
  &:active,
  &:focus {
    border: 0;
    box-shadow: none;
    outline: none;
    text-decoration: none !important;
  }
}
b,
strong {
  font-weight: $fw-800;
}
img {
  height: auto !important;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  width: auto !important;
  z-index: 2;
  &.alignright {
    display: inline;
    float: right;
    margin: 12px 0 12px 20px;
  }
  &.alignleft {
    display: inline;
    float: left;
    margin: 12px 20px 12px 0;
  }
  &.aligncenter {
    clear: both;
    display: block;
    margin: 10px auto;
  }
  &.alignnone {
    display: inline;
    margin: 10px;
  }
  @include max(1199) {
    &.alignleft,
    &.alignright,
    &.aligncenter,
    &.alignnone {
      clear: both;
      display: block !important;
      float: none !important;
      margin: 10px auto !important;
      padding: 10px;
    }
  }
}
article,
aside,
div,
main,
nav,
section,
figure,
summary,
picture {
  @include clearfix;
}
.tw-logo {
  display: inline-block;
  margin-top: 10px;
  svg {
    fill: #c3c9cf;
    height: 34px;
    width: 34px;
  }
  &:hover {
    svg {
      fill: var(--global--color-primary);
    }
  }
}
.tw-row {
  @include flexbox();
  margin-left: calc(-0.5 * var(--tw-gutter-sm));
  margin-right: calc(-0.5 * var(--tw-gutter-sm));
  & > * {
    flex-shrink: 0;
    margin-bottom: calc(var(--tw-gutter-sm) * 0.5);
    margin-top: calc(var(--tw-gutter-sm) * 0.5);
    max-width: 100%;
    min-height: 1px;
    padding-left: calc(var(--tw-gutter-sm) * 0.5);
    padding-right: calc(var(--tw-gutter-sm) * 0.5);
    position: relative;
    width: 100%;
  }
  .auto-width {
    flex: 0 0 auto;
    width: auto;
  }
  &.no-gap {
    margin-left: 0;
    margin-right: 0;
    & > * {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.no-v-gap {
    & > * {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
.owl-theme .owl-dots,
.container,
.container-fluid {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 100%;
}
.half-container,
.container-55 {
  box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  padding-right: calc(var(--tw-gutter-sm) * 0.5) !important;
  padding-left: calc(var(--tw-gutter-sm) * 0.5) !important;
  position: relative;
  width: 100%;
  @include min(576) {
    max-width: var(--tw-wrap-sm) !important;
  }
  @include min(768) {
    max-width: var(--tw-wrap-md) !important;
  }
  @include min(992) {
    max-width: var(--tw-wrap-lg) !important;
  }
  @include max(1199) {
    margin-left: auto;
    margin-right: auto;
  }
}
.half-container {
  @include min(1200) {
    max-width: calc((var(--tw-wrap-xl) * 50) / 100) !important;
  }
  @include min(1600) {
    max-width: calc((var(--tw-wrap-xxl) * 50) / 100) !important;
  }
}
.container-55 {
  @include min(1200) {
    max-width: calc(((var(--tw-wrap-xl) * 55) / 100) + 10px) !important;
  }
  @include min(1600) {
    max-width: calc(((var(--tw-wrap-xxl) * 55) / 100) + 5px) !important;
  }
  @include min(1850) {
    max-width: calc(((var(--tw-wrap-xxl) * 55) / 100) + 20px) !important;
  }
}
.owl-theme .owl-dots,
.container {
  padding-right: calc(var(--tw-gutter-sm) * 0.5) !important;
  padding-left: calc(var(--tw-gutter-sm) * 0.5) !important;
  @include min(576) {
    max-width: var(--tw-wrap-sm) !important;
  }
  @include min(768) {
    max-width: var(--tw-wrap-md) !important;
  }
  @include min(992) {
    max-width: var(--tw-wrap-lg) !important;
  }
  @include min(1200) {
    max-width: var(--tw-wrap-xl) !important;
  }
  @include min(1600) {
    max-width: var(--tw-wrap-xxl) !important;
  }
}
.container-fluid {
  padding-left: calc(var(--tw-gutter-sm) * 0.5) !important;
  padding-right: calc(var(--tw-gutter-sm) * 0.5) !important;
  @include min(576) {
    max-width: var(--tw-wrap-sm) !important;
  }
  @include min(768) {
    max-width: var(--tw-wrap-md) !important;
  }
  @include min(992) {
    max-width: var(--tw-wrap-lg) !important;
  }
  @include min(1200) {
    max-width: 1840px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  @include min(1600) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}