.curP {
  cursor: pointer;
}
.dFlex {
  @include flexbox();
}
.m-l-auto {
  margin-left: auto;
}
.m-t-auto {
  margin-top: auto;
}
.vhCenter {
  @include flex-align(vhCenter);
}
.vCenter {
  @include flex-align(vCenter);
}
.hCenter {
  @include flex-align(hCenter);
}
.vBottom {
  @include flex-align(vBottom);
}
.hRight {
  @include flex-align(hRight);
}
.vCenHRight {
  @include flex-align(vCenHRight);
}
.vhEnd {
  @include flex-align(vhEnd);
}
.vBtmHcntr {
  @include align-items(end);
  @include flexbox();
  @include justify-content(center);
}
.jc-center {
  @include justify-content(center);
}
.no-wrap {
  @include flex-wrap(nowrap);
}
.align-center {
  @include justify-content(center);
}
.grecaptcha-badge {
  display: none !important;
}
.center {
  @include justify-content(center);
  text-align: center;
  .btn {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
.cmn-space {
  padding-bottom: 20px;
  padding-top: 20px;
  @include min(768) {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  @include min(1200) {
    padding-bottom: 45px;
    padding-top: 45px;
  }
  @include min(1600) {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
.bottom-space {
  padding-bottom: 20px;
  @include min(768) {
    padding-bottom: 30px;
  }
  @include min(1200) {
    padding-bottom: 45px;
  }
  @include min(1600) {
    padding-bottom: 50px;
  }
}
.top-space {
  padding-top: 20px;
  @include min(768) {
    padding-top: 30px;
  }
  @include min(1200) {
    padding-top: 45px;
  }
  @include min(1600) {
    padding-top: 50px;
  }
}
.clear {
  clear: both;
  display: block;
}
.no-transform {
  text-transform: none !important;
}
// Margin Spacing
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-30 {
  margin-bottom: 10px !important;
  @include min(768) {
    margin-bottom: 20px !important;
  }
  @include min(1600) {
    margin-bottom: 30px !important;
  }
}
.m-t-0 {
  margin-top: 0 !important;
}
// Padding Spacing
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.no-border {
  border: 0 !important;
}
#content_wrapper {
  overflow: hidden;
  padding-top: 100px;
  position: relative;
  z-index: 3;
}
.fit-height {
  height: 100% !important;
}
li {
  list-style: none;
}