.main_screen {
  position: relative;
  .compare_img {
    @include box-shadow(0,2px,10px,rgba($black,0.2));
  }
  .sec_title {
    @include align-items(center);
    background-color: var(--global--color-primary);
    color: var(--global--color-white);
    @include flexbox-display(inline-flex);
    @include fontSize(20px);
    font-weight: $fw-300;
    height: 60px;
    line-height: 1;
    @include justify-content(center);
    margin: 10px auto 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .nav {
    left: 50%;
    position: absolute;
    top: 15px;
    @include transformX(-50%);
    z-index: 3;
  }
  .compare_button {
    @include align-items(center);
    background-color: var(--global--color-secondary);
    @include border-radius(4px);
    color: var(--global--color-white);
    @include fontSize(18px);
    font-weight: $fw-400;
    height: 46px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    width: auto;
    &:hover {
      background-color: var(--global--color-primary);
    }
  }
}
.tw-modal-body {
  .image_wrapper {
    position: relative;
    [class*="pointer-"] {
      position: absolute;
      z-index: 3;
      button {
        background-color: var(--global--color-red);
        @include border-radius(50%);
        height: 20px;
        width: 20px;
        animation: zooms 1s infinite;
      }
      .description {
        background-color: var(--global--color-white);
        @include border-radius(8px);
        @include box-shadow(0,1px,10px,rgba($black,0.1));
        color: var(--global--color-secondary);
        display: none;
        @include fontSize(16px);
        font-weight: $fw-500;
        left: 50%;
        line-height: 1.5;
        max-width: 500px;
        padding: 15px;
        position: absolute;
        top: 30px;
        @include transformX(-50%);
        width: 500px;
      }
      &:hover {
        .description {
          display: block;
        }
      }
    }
    .pointer-1 {
      top: 10px;
      left: 60%;
    }
  }
}
@keyframes zooms {
  0% {
    @include scale(1,1);
    opacity: 0.8
  }
  50% {
    @include scale(1.2,1.2);
    opacity: 1
  }
  100% {
    @include scale(1,1);
    opacity: 0.8;
  }
}
.slick-arrow {
  @include flex-align(vhCenter);
  background-color: var(--global--color-secondary);
  @include border-radius(3px);
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  svg {
    fill: var(--global--color-white);
    height: 30px;
  }
  &:hover {
    background-color: var(--global--color-black);
  }
}
.screen_slides {
  .slick-slide {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.lb-container {
  .lb-image {
    max-width: 1600px !important;
  }
}